# make a copy of this, delete this comment, and then add your variables :D

STRIPE_API_KEY = rk_test_***************
STRIPE_DEVICE_NAME = "Palavyr"

Palavyr_AWS__AccessKey =
Palavyr_AWS__SecretKey =
Palavyr_AWS__Region =
Palavyr_ConnectionString =
Palavyr_Environment =
Palavyr_JWT__SecretKey =
Palavyr_STRIPE__SecretKey =