@import "common";
@import "variables/colors";

.rcw-messages-container {
    overflow-y: scroll;
    flex-grow: 1;
    -webkit-overflow-scrolling: touch;
}

.rcw-full-screen {
    .rcw-messages-container {
        flex-grow: 1;
        @include messages-container-fs;
    }
}

@media screen and (max-width: 800px) {
    .rcw-messages-container {
        flex-grow: 1;

        @include messages-container-fs;
    }
}
